<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Pet Store Test Suite">
    <listeners>
        <listener class-name="api.TestBase"/>
    </listeners>

    <test verbose="2" preserve-order="true"
          name="PetStoreTests">
        <classes>
            <class name="api.tests.PetTests">
            </class>
        </classes>
    </test>
</suite>